VITE_APP_ENV=dev
VITE_API_BASE_URL_DEV=https://api-dev.aiseo.tips/dev
VITE_API_BASE_URL_PROD=https://api.aiseo.tips/prod

VITE_COGNITO_USER_POOL_ID=ap-northeast-2_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_HOSTED_UI_DOMAIN=https://your-domain.auth.ap-northeast-2.amazoncognito.com
VITE_COGNITO_REDIRECT_SIGN_IN=https://dev.aiseo.tips
VITE_COGNITO_REDIRECT_SIGN_OUT=https://dev.aiseo.tips
VITE_COGNITO_RESPONSE_TYPE=token
VITE_COGNITO_SCOPE=openid email profile
